$main-color: #b41e1e;
$second-color : #e2e2e2;



body {
    font-family: 'ABeeZee', sans-serif; /* Utilisation de la police Montserra pour tout le body */
    margin:0;
    .btn-check:focus+.btn, .btn:focus {
        outline: 0;
        box-shadow: none
    }
}

/*--------------------------------------Barre de NAV---------------------------------------------*/

nav {
    font-family: 'Antonio', sans-serif;
    background-color: $main-color;
    color: white;
    height: auto;
    .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    h1 {
        font-weight: bold;
    }
    .link {
        text-decoration: none;
        color: rgb(250, 250, 250);
        transition: 0.5s ease;
        -webkit-transition: all 0.5s;
    }
    .link:hover {
        color: rgb(248, 221, 221);
        transition: 0.5s ease;
        -webkit-transition: all 0.5s;
        text-decoration: underline;
    }
    .nav-link {
        padding: 0;
    }
    #connexion {
        font-size: 1.5rem;
    }
    p {
        margin-bottom: 2px;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
    }
    a {
        text-align: right;
        font-weight: bold;
        margin-bottom: 2px;

    }
    .bloc {
        display: block;
    }
    #chevron {
        height: 7px;
        width: 70px;
        margin: auto;
    }

}


/*--------------------------------------------compteur d'AT------------------------------------------*/

.box {
    height: auto;
    display: none;
    padding: 5px;
    background: $main-color;
}

#accidents {
    color: white;
    text-align: center;
    font-size: 1.2em;
    background-color: $main-color;
}

/*--------------------------------------------Page d'accueil------------------------------------------*/

.accueil {
    margin-top: 20vh;
    p {
        font-size: 1.5rem;
    }
    .underline {
        text-decoration: underline;
    }
    strong {
        font-size: 2rem;
    }
    .bold {
        font-weight: bold;
    }
}



/*--------------------------------------------Dashborad------------------------------------------*/


.dashboard {
    background-color: $second-color;
    .menu {
        height: 100vh;
        padding-top: 3vh;
        background-color: $main-color;
        a {
            text-decoration: none;
            color: white;  
        }
    }
}










/*--------------------------------------------Responsive design------------------------------------------*/

@media all and (max-width: 460px) {
    .compteur {
        visibility: hidden;
    }
}
